@import '../settings';


    .bouton {
        margin-top: 0.5rem;
        p {
            text-decoration: none;
            display: inline-block;

            transition: 0.2s;
            color: rgba(255, 255, 255, 1);

            &:hover {
                transform: scale(1.05);
                color: rgb(255, 35, 35);
            }
        }
    }
