@import '../settings';




.nom {
    font-size: 2rem;
    color: $color-1;
    @media (max-width: 600px) {
        // Les styles pour les téléphones vont ici...
        margin-top: -60px; // Changez la taille selon vos besoins
        font-size: 1.5rem;
    }
}
.nom2 {
    font-size: 3rem;
    color: $color-2;
    @media (max-width: 600px) {
        // Les styles pour les téléphones vont ici...
        font-size: 2.3rem;
    }
}
.info {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: 600px) {
        // Les styles pour les téléphones vont ici...
        font-size: 1.2rem;
    }
}