@import '../settings';


.chargement {
    h1 {
        color: $color-2;
    }
}

.noQuestion {
    .oo {
        color: $color-2;
        background: linear-gradient(to bottom, $color-5, $color-6);
        border-radius: 10px;
    }

}

.fin {

    background: linear-gradient(to bottom, $color-5, $color-6);
    border-radius: 10px;
    margin-top: 6rem;

    h1 {
        font-size: 4rem;
        color: $color-2;
    }

    .record,
    .pourcent,
    .normal {
        color: rgb(255, 255, 255, 0.6);

        font-size: 2rem;
    }



    h2 {
        font-size: 5rem;
        color: $color-2;

    }

}


.question {

    .entete {
        background-color: $color-2;
        border-radius: 10px;
        color: white;

    }

    .choix {

        margin-top: 10px;
        font-size: 25px;
        background: linear-gradient(to bottom, $color-5, $color-6);
        border-radius: 10px;

        //height: 600px;


        .pays {
            margin-top: 1.5%;
            margin-left: 1.5%;
            color: $color-3;

            @media (max-width: 600px) {
                // Les styles pour les téléphones vont ici...
                font-size: 0.8rem; // Changez la taille selon vos besoins
            }

        }

        img {
            margin-top: 1%;
            margin-left: 1.5%;
            height: 25rem;
            max-width: 100%;
            max-height: 100%;
            border-radius: 15px;
            border: 2px solid $color-3;
            background: $color-2;

            @media (max-width: 600px) {
                // Les styles pour les téléphones vont ici...
                height: 10rem; // Changez la taille selon vos besoins
            }


            //float: left;
        }

        .answer-options {


            //float: right;
            margin-top: 1%;
            margin-left: 1.5%;
            width: calc(100% - 400px);

            /* La largeur est égale à 100% moins la largeur de l'image */
            button {
                margin: 0 auto 20px;
                font-family: $font-1;
                font-size: 20px;
                margin-right: 10px;
                //background: linear-gradient(to bottom, $color-7, $color-8);
                color: $color-1;
                border: 3px solid $color-3;
                padding: 4px 10px;
                border-radius: 15px;
                cursor: pointer;
                transition: 0.2s;
                min-width: 150px; // Largeur minimale pour que les boutons aient la même taille
                min-height: 70px; // Hauteur minimale pour que les boutons aient la même taille

                @media (max-width: 600px) {
                    // Les styles pour les téléphones vont ici...
                    margin: 0 auto 10px;

                    font-size: 1rem; // Changez la taille selon vos besoins
                    min-width: 120px; // Largeur minimale pour que les boutons aient la même taille
                    min-height: 60px; // Hauteur minimale pour que les boutons aient la même taille
                }


                &:hover {
                    background: rgb(255, 255, 255, 0.8);
                    color: $color-1;
                    transform: scale(1.05);
                    //border: 3px solid rgb(255, 255, 255, 0.5);

                }
            }
        }

        .infos {
            float: right;
            background: linear-gradient(to bottom, $color-7, $color-8);
            border: 3px solid $color-3;

            font-size: 110%;
            margin-top: 1%;
            margin-right: 1.5%;
            border-radius: 15px;

            color: white;

            @media (max-width: 600px) {
                // Les styles pour les téléphones vont ici...
                font-size: 1rem; // Changez la taille selon vos besoins
            }
            


            p {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
            }

            .lives {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                font-size: 2.5rem;
                @media (max-width: 600px) {
                    // Les styles pour les téléphones vont ici...
                    font-size: 1.5rem; // Changez la taille selon vos besoins
                }
            }

        }
    }

}