@import '../settings';

.deco {
    label {
        color: rgba(255, 255, 255, 0.9);
        transition: 0.2s;

        &:hover {
            transform: scale(1.05);
            color: $color-2;
        }
    }
}